.noquotes {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noquotes p {
  color: #262c2c;
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 480px) {
  .noquotes p {
    font-size: 2rem;
  }
}

@media (max-width: 330px) {
  .noquotes p {
    font-size: 1rem;
  }
}
