.fillBtn {
  padding: 8px 1rem;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 6px;
  transition: all 0.2s ease-in;
  background-color: #008080;
  cursor: pointer;
}

.fillBtn:hover,
.fillBtn:active {
  background-color: #0ac9c9;
  color: #000;
}

@media (max-width: 410px) {
  .fillBtn {
    padding: 6px 10px;
    font-size: 12px;
  }
}
